<!-- Header -->
<header class="bg-white shadow-sm">
    <div class="container mx-auto px-4 py-4">
        <div class="flex justify-between items-center">
            <div class="flex items-center space-x-8">
                <img src="assets/img/cakalogo.svg" alt="CAKA LOGO" class="w-32 object-cover"></img>
                
            </div>
            <div class="flex items-center space-x-4">
                <nav class="hidden md:flex space-x-10">
                    <a href="#home" class="text-gray-600 hover:text-blue-600 font-medium nav-link">Home</a>
                    <a href="#projects" class="text-gray-600 hover:text-blue-600 font-medium nav-link">Projects</a>
                    <a href="#enquiries" class="text-gray-600 hover:text-blue-600 font-medium nav-link">Enquiry</a>
                    <a href="#contact" class="text-gray-600 hover:text-blue-600 font-medium nav-link">Contact Us</a>
                </nav>
            </div>
        </div>
    </div>
</header>


